PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=monitoreo_solar
DB_USER=admin
DB_PASSWORD=admin123

AUTH0_DOMAIN=TU_DOMINIO.us.auth0.com
AUTH0_AUDIENCE=TU_AUDIENCE_AQUI

FRONTEND_URL=http://localhost:3000
